<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>limiter</param-name>
        <param-value>100</param-value>
    </context-param>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.company.filters.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>userAgentFilter</filter-name>
        <filter-class>com.company.filters.userAgentFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>userAgentFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.company.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.company.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>com.company.servlets.PostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseServlet</servlet-name>
        <servlet-class>com.company.servlets.ResponseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.company.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePostServlet</servlet-name>
        <servlet-class>com.company.servlets.RemovePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPostServlet</servlet-name>
        <servlet-class>com.company.servlets.EditPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveResponseServlet</servlet-name>
        <servlet-class>com.company.servlets.RemoveResponseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditResponseServlet</servlet-name>
        <servlet-class>com.company.servlets.EditResponseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/PostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseServlet</servlet-name>
        <url-pattern>/ResponseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePostServlet</servlet-name>
        <url-pattern>/RemovePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostServlet</servlet-name>
        <url-pattern>/EditPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveResponseServlet</servlet-name>
        <url-pattern>/RemoveResponseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditResponseServlet</servlet-name>
        <url-pattern>/EditResponseServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
